absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.7
antlr4-python3-runtime==4.8
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.6.0
bleach==5.0.0
blis==0.4.1
Boruta==0.3
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.1.0
catalogue==1.0.0
certifi==2021.10.8
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.4
colorlover==0.3.0
cryptography @ file:///opt/concourse/worker/volumes/live/dfab5924-fd99-4f24-7939-7dbf6f1585f3/volume/cryptography_1639414584824/work
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
databricks-cli==0.16.6
dataclasses==0.6
datasets==1.2.1
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
Distance==0.1.3
docker==5.0.3
emoji==1.7.0
entrypoints==0.4
et-xmlfile==1.1.0
fairseq==0.10.2
fastjsonschema==2.15.3
filelock==3.6.0
Flask==1.1.2
Flask-PyMongo==2.3.0
flatbuffers==1.12
frozenlist==1.3.0
fsspec==2022.5.0
funcy==1.17
future==0.18.2
g2p-en==2.1.0
gast==0.4.0
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.46.1
gunicorn==20.1.0
h5py==3.6.0
htmlmin==0.1.12
huggingface-hub==0.7.0
hydra-core==1.1.2
idna==2.10
ImageHash==4.2.1
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==4.11.3
importlib-resources==5.2.3
inflect==5.6.0
ipykernel==6.13.0
ipython==7.33.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
JPype1==1.3.0
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.0
kmodes==0.12.1
kocrawl==1.0.9
konlpy==0.5.2
kss==1.3.1
langcodes==3.3.0
libclang==14.0.1
lightgbm==3.3.2
llvmlite==0.37.0
lxml==4.8.0
Mako==1.2.0
marisa-trie==0.7.7
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.2.1
matplotlib-inline==0.1.3
missingno==0.5.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/133f1d0b-8fd8-4fa0-679e-7214401cbd75/volume/mkl_random_1626186083386/work
mkl-service==2.4.0
mlflow==1.25.1
mlxtend==0.19.0
more-itertools==8.13.0
multidict==6.0.2
multimethod==1.8
multiprocess==0.70.12.2
murmurhash==1.0.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
nltk==3.7
notebook==6.4.11
numba==0.54.1
numexpr==2.8.1
numpy==1.20.0
oauthlib==3.2.0
omegaconf==2.1.2
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandas-profiling==3.2.0
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.1
patsy==0.5.2
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.0.1
plac==1.1.3
plotly==5.8.0
pororo==0.4.2
portalocker==2.4.0
preshed==3.0.6
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.2
pycaret==2.3.10
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.8.2
Pygments==2.12.0
PyJWT==2.3.0
pyLDAvis==3.3.1
pymongo==4.1.1
pynndescent==0.5.6
pyod==1.0.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks @ file:///opt/concourse/worker/volumes/live/ef943889-94fc-4539-798d-461c60b77804/volume/pysocks_1605305801690/work
python-dateutil==2.8.2
pytorch-crf==0.7.2
pytz==2022.1
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==22.3.0
querystring-parser==1.2.4
regex==2022.4.24
requests==2.24.0
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
sacrebleu==2.0.0
sacremoses==0.0.53
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.5.4
seaborn==0.11.2
semantic-version==2.10.0
Send2Trash==1.8.0
sentence-transformers==2.0.0
sentencepiece==0.1.91
setuptools-rust==1.3.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
spacy==2.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SQLAlchemy==1.4.36
sqlparse==0.4.2
srsly==1.0.5
statsmodels==0.13.2
tabulate==0.8.9
tangled-up-in-unicode==0.2.0
tenacity==8.0.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
terminado==0.13.3
textblob==0.17.1
thinc==7.4.1
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.12.1
torch==1.6.0
torchvision==0.7.0
tornado==6.1
tqdm==4.49.0
traitlets==5.2.0
transformers @ git+https://github.com/huggingface/transformers@013462c57bcefd58758f566c45ec1f3d7ed2e594
tweepy==3.10.0
typer==0.4.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
umap-learn==0.5.3
urllib3==1.25.11
visions==0.7.4
wasabi==0.9.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.0.3
wget==3.2
Whoosh==2.7.4
widgetsnbextension==3.6.0
word2word==1.0.0
wordcloud==1.8.1
wrapt==1.14.1
xgboost==1.6.1
xxhash==3.0.0
yarl==1.7.2
yellowbrick==1.0.1
zipp==3.7.0
